<hr><li>
  {{#link-to 'entheogen' entheogen.id}}{{entheogen.name}} details {{/link-to}}<br>
  {{#if isImageShowing }}
    <p><img src="{{entheogen.image}}" alt={{entheogen.name}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
</li><hr>
