<p>Located {{entheogen.locations}}, this {{entheogen.classification}} in the form of {{entheogen.form}} is available by arrangement through your local shaman...</p>
<br>
<p><img src={{entheogen.image}} alt={{entheogen.name}}></p>

<button class="newPostBtn" {{action 'delete' entheogen}}>Delete</button>
<button {{action 'goBack' entheogen}}>Return Home</button>
